# --- Global Settings ---
APP_ENV=production
NETWORK_NAME=bitka-net

# --- PostgreSQL (Source - Backend) ---
# ใช้ Host เป็นชื่อ service เมื่อคุยกันใน Docker
DB_HOST=postgres
# Port 5432 คือพอร์ตมาตรฐานภายใน container
DB_PORT=5432
DB_USER=postgres
DB_PASS=password

# Database Names
AUTH_DB_NAME=bitka_auth
ACCOUNT_DB_NAME=bitka_account

# --- Application Services ---
# Port ที่จะ Expose ออกมาให้เครื่องเราเรียกใช้ได้
AUTH_PORT=8081
ACCOUNT_PORT=8082

# URL ที่ Account Service ใช้คุยกับ Auth Service (Internal Docker Network)
AUTH_JWKS_URL=http://auth-service:8081/.well-known/jwks.json

# --- Kafka / Redpanda ---
# ใช้สำหรับ Internal (Container คุยกันเอง เช่น Debezium -> Redpanda)
KAFKA_BROKER_CONNECT=redpanda:9092

# ใช้สำหรับ External (Python Script ในเครื่องเรา -> Redpanda)
# *ตัวนี้ไม่ได้ใช้ใน docker-compose แต่ใช้ใน Python Script
KAFKA_BROKER_EXTERNAL=localhost:19092

# --- Data Warehouse (Destination) ---
DW_HOST=warehouse
DW_DB_NAME=bitka_dw
DW_USER=warehouse_admin
DW_PASS=warehouse_password

# Port Mapping: 5433 (เครื่องเรา) -> 5432 (Container)
DW_PORT_EXTERNAL=5433
DW_PORT_INTERNAL=5432